div#app{
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1px;
  align-items: baseline;
  min-height: 110vh;
  min-width: 99vw;
  background-color: black;
  color: red;
  font-family: monospace;
  font-size: large;
}

form#command{
  display: grid;
  min-width: 100%;
  max-width: 100%;
  min-height: 25px;
  max-height: 25px;
  grid-template-rows: 100%;
  grid-template-columns: 15% 85%;
  align-items: baseline;
  border: solid 2px yellow;
  background-color: transparent;
}

label.name{
  color: #1aef49;
}
input[type="text"]#command{
  display: grid;
  color: #1aef49;
  background-color: transparent;
  outline: none;
  border: solid 2px white;
}

span.command{
  color: #1aef49;
  border: solid 2px red;
}
span.logs{
  color: aqua;
}
