div#app{
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1px;
  align-content: start;
  min-height: 110vh;
  min-width: 99vw;
  background-color: black;
  color: red;
  font-family: monospace;
  font-size: large;
}

form#command{
  display: grid;
  min-width: 100%;
  max-width: 100%;
  min-height: 25px;
  max-height: 25px;
  grid-template-rows: 100%;
  grid-template-columns: 11% 89%;
  column-gap: 8px;
  align-items: baseline;
  background-color: transparent;

}

label.name{
  color: #1aef49;
}
input[type="text"]#command-input{
  display: grid;
  color: #1aef49;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: large;
  font-family: monospace;
  min-height: 100%;
  caret-shape: block;
}

span.command{
  color: #1aef49;
}
span.logs{
  color: aqua;
}
